# Pastas de build do Java
target/
*.class
.env

# Pastas de dependência do Frontend
node_modules/
dist/
.angular/

# Configurações de IDE
.idea/
.vscode/
*.iml

# Sistema Operacional
.DS_Store
Thumbs.db