services:
  postgres:
    image: postgres:15-alpine
    container_name: argus_postgres
    environment:
      - POSTGRES_DB=argus_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: